<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head'); %>
    <title><%= driverDetails.driver_name %></title>
    <style>
        .driver-photo {
            width: 600px;
            height: auto;
        }
    </style>
</head>
<body class="container">
    <header>
        <%- include ('../partials/header'); %>
    </header>

    <h1>Driver Details</h1>

    <% if (error) { %>
        <!-- Display an error message if an error occurred -->
        <p>Error: <%= error %></p>
    <% } else if (driverDetails) { %>
        <h2><%= driverDetails.driver_name %></h2>
        <p>Nationality: <%= driverDetails.nationality %></p>

        <!-- Check if dateOfBirth is defined before accessing its properties -->
        <% if (driverDetails.date_of_birth) { %>
            <p>Date of Birth: <%= driverDetails.date_of_birth.toDateString() %></p>
        <% } %>

        <img class="driver-photo" src="<%= driverDetails.image %>" alt="<%= driverDetails.driver_name %>">

        <% if (driverDetails.team) { %>
            <!-- Display team information if available -->
            <p>Team: <%= driverDetails.team.teamName %></p>
        <% } %>
    <% } else { %>
        <p>Driver not found</p>
    <% } %>

    <footer>
        <%- include ('../partials/footer'); %>
    </footer>
</body>
</html>
