<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head'); %>
    <title>Drivers</title>
</head>

<body class="container">
    <header>
        <%- include ('../partials/header'); %>
    </header>
    
    <h1>Drivers</h1>

    <ul>
        <% drivers.forEach(driver => { %>
            <li>
                <a href="/drivers/<%= driver.driver_id || '' %>">
                <%= driver.driver_name || 'Unknown Driver' %>
                </a>
            </li>
        <% }); %>
    </ul>

    <footer>
        <%- include ('../partials/footer'); %>
    </footer>
</body>

</html>