<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head'); %>
    <title>Races</title>
    <style>
        .team-logo {
            width: 400px;
            height: auto;
        }
    </style>
</head>

<body class="container">
    <header>
        <%- include ('../partials/header'); %>
    </header>
    
    <h1>Races</h1>
    <ul>
        <% races.forEach(race => { %>
            <li>
                <h2><%= race.race_name %></h2>
                <p>Circuit: <%= race.circuit%></p>
                <p>Location: <%= race.location%></p>
                <p>Date: <%= race.date_of_race.toDateString()%></p>
            </li>
        <% }); %>
    </ul>

    <footer>
        <%- include ('../partials/footer'); %>
    </footer>
</body>

</html>
